.Modal-wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.Modal-container {
    width: 90%;
    height: fit-content;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -45%);
    -webkit-transform: translate(-50%, -45%);
    -moz-transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    -o-transform: translate(-50%, -45%);
}

@media (min-width: 768px) {
    .Modal-container {
        width: 80%;
    }
}

@media (min-width: 1366px) {
    .Modal-container {
        width: 40%;
    }
}

.Modal-patientImg-container {
    width: 120px;
    height: 120px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    overflow: hidden;

    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Modal-patientImg-container > img {
    max-width: 100%;
}

.Modal-patientName {
    text-align: center;
    margin-top: 65px;
}

.Modal-patientDetails {
    font-size: 1.2em;
    width: 80%;
    margin-left: 10%;
}

.Modal-patientDetails span {
    font-weight: bold;
}
