<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /pharma-inc
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /pharma-inc/index.html [L]
</IfModule>