.Button-container {
    position: fixed;
    top: 110px;
    right: 40px;
    height: 50px;
    width: 50px;
    box-shadow: -3px 5px #b3b1b1;
    background-color: #7dcbff;
    color: #fff;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Button-container:hover {
    background-color: #5cb9f7;
}

.Button-container span {
    font-size: 2em;
}