.Header-container {
   height: 50px;
   border-bottom: 1px solid #1190ca;
   margin-bottom: 80px;
   background-color: #fff;
   position: relative;
   z-index: 7;
}

.Header-subContainer {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.Header-subContainer img {
   height: 35px;
}